.env
.dedoc
.vscode
*.pt
*.cpp
*.jpg
*.jpeg
data.lock
runs
!src/models
*.cpp
*.cu
*.pdf
*.lichense_plate_recognizer
.pytest_cache
config.json
*.anc
*.fec

env
.python-version



.idea
.env
.ipynb_checkpoints

__pycache__

wandb

*.xlsx
*.db
*.avi
*.AVI
*.bmp
*.BMP
*.cfg
*.heic
*.HEIC
*.h5
*.pth
*.mov
*.MOV
*.mkv
*.tif
*.TIF
*.tiff
*.TIFF
*.log
*.onnx
*.pt
*.zip
*.docx
*.pdf
*.xml
*.idea
*.ipynb
*.eslintcache
*.pack
*.pack.old
*.txt
*.cache
*train
*dataset
*logs
*train
*uploads
*video
*weights
*image_log
*test.py
*temp_img
*images_obj
*other
*ai_logs
*save_test_masks
*floor_predict
!requirements.txt
create_tree.py
# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store

_backend/data/*
_backend/cent_config.json
!_backend/requirements/*

generation_results/*