services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8601:8601"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app-network

  kt_service:
    shm_size: 20g
    restart: always
    build:
      context: ./kt_service
      dockerfile: Dockerfile
    runtime: nvidia  
    ports:
      - "5001:5001"
    volumes:
      - ./kt_service:/app/kt_service
      - ./temp:/app/temp
      - ./weights:/app/weights
      - ./kt_service/imgs:/app/imgs
      - ./logs:/app/logs:rw,uid=1000,gid=1000
    environment:
      - IMGS_DIR=/app/imgs
    networks:
      - app-network
    depends_on:
      - frontend
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
        limits:
          memory: 16g
          cpus: '4.0'

networks:
  app-network:
    driver: bridge
