services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8601:8601"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app-network

  kt_service:
    restart: always
    build:
      context: ./kt_service
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    volumes:
      - ./kt_service:/app/kt_service  
      - ./temp:/app/temp
      - ./weights:/app/weights
      - ./kt_service/imgs:/app/imgs 
      - ./logs:/app/logs:rw,uid=1000,gid=1000
      - ./generation_results:/app/generation_results
    environment:
      - IMGSDIR=/app/imgs
    networks:
      - app-network
    depends_on:
      - frontend

networks:
  app-network:
    driver: bridge

