fastapi==0.128.0
gmsh==4.15.0
lungmask==0.2.20
matplotlib==3.10.8
nibabel==5.3.3
numpy
Pillow==12.1.0
pydantic==2.12.5
pydicom==3.0.1
pyeit==1.2.4
pylibjpeg 
pylibjpeg-libjpeg 
pylibjpeg-openjpeg
pyfemm
python-multipart
Requests==2.32.5
scikit_learn
scipy
Shapely==2.1.2
SimpleITK==2.5.3
scikit-image
supervision
toml
tqdm
ultralytics
uvicorn



